<div class="container my-5">
	<footer>
		<div class=" text-center text-info p-5 navbar-light bg-light">
			<!-- Section Copyright -->
			<section class="text-center mt-3">
				© 2023 Copyright:</a>
		</section>
	</div>

</footer></div>
