<div class="container">
	<footer>
		<div class=" text-center text-info p-5" style="background-color: rgba(238, 238, 228, 0.4)">
			<article
				
				<!-- Contact  -->
			<section class="text-center mt-3">
					<h5>CONTACT:</h5>
					<br>
					<div class="text-muted">
						<p>5 rue des Saumeliers</p>
						<p>75841 Coscigny</p>
						<p>France</p>
						<br>
						<p>
							01 11 12 45 35</p>
						<p>mymailaddress@mail.mail</p>
					</div>
				</section>
			<br>
			<br>
			</article>
			<!-- Section Copyright -->
			<section class="text-center mt-3">
				© 2023 Copyright:</a>
		</section>
	</div>

</footer></div>
