{% extends 'base.html.twig' %}

{% block title %} - Modificaiton SPECIALITE
{% endblock %}

{% block body %}
	<div class="container">
		<section class="row justify-content-center">
			<h1 class='text-center'>MODIFIER UNE SPECIALITE</h1>
			<br>
			<br>
			<div class="col-md-4">
				{{ form_start(form) }}
				<br>
				{{ form_row(form.name) }}
				<br>
				{{ form_row(form.submit) }}
				{{ form_end(form) }}
			</div>
		</section>
	</div>
{% endblock %}
