* {
    font-family: 'Roboto Mono', monospace;
}

img {
    margin-left: 15px;
    max-width: 7rem;
    height: auto;
}

.title {
    font-family: 'Black Ops One', cursive;
    color: rgba(110, 115, 126, 0.357);
    font-size: 50px;
}

.filter{
    background-color: rgb(165, 42, 42, 0.06);
    padding: 10px;
} 